*, ::before, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* font-family: 'Bruno Ace SC', cursive; 
font-family: 'Jura', sans-serif;
*/


header{
    background-size: cover;
    height: 100vh;
    background-image: url("https://images7.alphacoders.com/719/719801.jpg");

    display: flex;
    flex-direction: column;
}

nav{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100px;
    background-color: rgba(37, 35, 32, 0.267);

    font-family: 'Lato', sans-serif;   
}

.nav_items span{
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    font-weight: 300;
    color: #f5c34b;
    text-transform: capitalize;
    margin-left: 10px;
}

 ul{
   
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* .sub_titles ul li{
    display: inline-block;   
} */

ul li a{
    text-transform: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

ul .active{
    color: #f5c34b;
}
ul li a:hover{
    color: #f5c34b;
}


/* ===================================== BANNER ====================================== */

/* #1a3760 blueu 
   #f4f4f6 gris
   #f9f9f9 griq autre

  oup
*/

.banner{
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 250px;
    max-height: fit-content;
    justify-content: center;
    gap: 50px;
    background-color: white;
}

.banner a{
    text-decoration: none;
    color: #1a3760 ;
    font-family: 'Raleway', sans-serif;
    height: 30vh;
    text-align: center;
}
.banner h2{
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 20px;
}
.banner h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
.banner h6{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.banner a:hover{
    color: #f5c34b;  
}

/* ================================== VEDETTES ====================================== */

.vedettes{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    justify-content: center;
    gap: 10px;
    background-color: #f9f9f9; 
    padding: 40px 20px 20px 20px;  

   
    width: 100%;
    height: fit-content;
}

.vedettes h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color:#5f6973 ; ;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 20px;

    
 }
 
.contain_img{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: fit-content;
    max-height: fit-content;
    justify-content: center;
    gap: 30px;

    
   
}

.box_img{
    height:28vh ;
    /* border: #5f697354 1px solid ;    */
}
.box_img img{
    height:18vh;
}


.box_img h5{
    padding-left: 10px;
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.box_img h4{
    padding-left: 10px;
    font-size: 1rem;
    color: #55b7e9 ;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.box_footer{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    color:#5f6973 ;  
    padding-left: 10px;
    padding-bottom: 10px;
}
.box_footer span{
    font-size: 1.1rem;
    text-transform: lowercase;
}

/* color : #5f6973 */

/*=========================================== POURQUOI ++++++++++++++++++++++++++++++++++++ */

.pourquoi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    color:#5f6973 ;
    padding-top: 50px;  
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; 

    font-family: 'Raleway', sans-serif;
    background-color: #FFF;
}



.pourquoi h1{
font-size: 2em;
justify-content: center;
text-align: center;
font-family:'Raleway', sans-serif; 
text-transform: uppercase;
font-weight: 100;
}

.pourquoi_row{   
display: flex;
flex-direction: row;
gap: 20px;
padding: 10px;
flex-wrap: wrap;
background-color: #FFF; 
justify-content: space-between; 
}

.pourquoi_row .mon_image img{    
height: 50vh;
}

.mon_textes{
display: flex;
flex-direction: column;
gap: 0px;
padding: 10px;
flex-wrap: wrap;
background-color: #FFF;   
width: 40%;
}
.mon_textes_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #FFF; 
    justify-content: space-between;
}
.items_bloc{
    text-align: center;
    font-family:'Raleway', sans-serif; 
    font-weight: 200;
    font-size: 10pt;
    width: 40%;
    padding: 10px;
}

.items_bloc p{
    margin-top: 2px;
    text-align: justify;
    color: #756b6b;
}
.items_bloc h3{
    margin-bottom: 4px;
    text-transform: capitalize;
    
}
