/*
"Source Sans Pro", Helvetica, sans-serif;
vertical-align: baseline
color : #47d3e5

https://fonts.google.com/icons?selected=Material+Icons%3Acheck_circle%3A
font-family: 'Raleway', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');



/* GOOGLE ICONS */




/* FIN GOOGLE FONT */
*,::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;
    width: 100%;
    /* https://images6.alphacoders.com/508/thumbbig-508212.webp */
    /* https://images.unsplash.com/photo-1571775145899-ec92ede2b057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
    background-image: url("https://images.unsplash.com/photo-1571775145899-ec92ede2b057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    background-color: rgba(20, 23, 26, 0.466);
    color: aliceblue;

    /* border: 1px solid blue; */
}

.nav_items{
    display: flex;
    padding: 40px;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
    color: aliceblue;
    vertical-align: baseline
}

nav .left{
width: 70%;
}

.items_title .logo_and_text{
    display: flex;
    gap: 20px;
}

.items_title{
    display: flex;
    flex-direction: row;  
    gap: 60px;
}

.items_title .left{
    width: 40%;
}
.logo_and_text span{
font-size: 1.3em;
color: #F5C34B;
font-weight: bolder;
font-family: 'Nova Oval', cursive !important;
}

 .tems_title ul{
    list-style: none;
    text-decoration: none;
   
}

.items_title li{
display: inline-block;
margin-right: 40px;
text-transform: capitalize;
}

.items_title li .active{
    color: #F5C34B !important;
}

.items_title li a{
    text-decoration: none;
    color: aliceblue;
    }


/* =============== FIN ITEM TITLE ======= */
.nav_items span{
    text-transform: capitalize;   
}

.header_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.header_items .textes{
width: 40%;
padding: 20px;
}

.header_items .left{
    /* font-family: 'Raleway', sans-serif; */
    text-transform: uppercase;
    line-height:60px;
    /* font-family: 'Nova Oval', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    
    }

.header_items .left span{
    font-size: medium;
    color: #fff;
    }

    .header_items .left .prix{
    color: #F5C34B;
    font-weight: bolder;
    font-size: 2.0em;
}

.header_items .left a{
    text-decoration: none;
    padding: 20px;
    text-transform: capitalize !important;
    font-family: 'Raleway', sans-serif!important;
    background-color: #fff;
    color: black !important;
    font-weight: bold;
    /* border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%; */
}

.header_items .right{
    background-color: #69687491;
    /* border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_one{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color:#FFF;
    padding: 20px;
    /* border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ; */

    margin-top: 20px;
    vertical-align: baseline;
}

.right_one .active_one{
color: #F5C34B; 
font-weight: bold;
border-bottom: #F5C34B solid 1px;
padding-bottom: 5px;

}

.right_one span:hover{
    color: #F5C34B; 
    font-weight: bold;
    border-bottom: #F5C34B solid 1px;
    padding-bottom: 5px;
    
    }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ POUR FORMES POUR RECHERCHES+++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.right .marque{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    text-transform: capitalize;
    font-family:'Raleway', sans-serif; 
}

.right .marque select{
    font-size: 0.9rem;
    padding: 10px 20px 10px 10px;
    border: #ddd solid 1px;
    vertical-align: baseline;
    /* width: 40%; */
}

.right .marque select option{
    font-size: 0.9rem;
    padding:10px;
    
}
.right .marque label{
   width: 20%;
   color: #fff;
}
.right .marque select:focus{
    border: #F5C34B solid 1px;
}

.right .marque input{
    font-size: 0.9rem;
    padding: 10px 20px 10px 10px;
    border: #ddd solid 1px;
    vertical-align: baseline;
}
.right .marque input, select{
width: 40%;
}

.right .marque .rechercher{
width: 100%;
background-color: #F5C34B; 
color: black;
margin: auto;  }


/* SECTION +++++++++++++++++++++++++++++++++++++ */

.liste_voitures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    padding: 50px 80px 50px 80px;
    background-color: #FFF;
    
}

.liste_voitures img{
    width: 25vh;
    padding: 5px;
}

.liste_items{
    text-align: center;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.liste_items span{
    font-family: 'Raleway', sans-serif!important;
    text-transform: uppercase;
}
.liste_items h5{
    font-family: 'Raleway', sans-serif!important;
    color: #756b6b;
}

.liste_items:hover {
border: #f5c24b77 0.1em solid;
cursor: pointer;
transition-duration: 2ms;
transition-delay: 1ms;

/* padding: 10px; */
}

/* VETTES */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ POUR VETTEES  +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.vettes{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    
}
.vettes h1{
    font-size: 2em;
    justify-content: center;
    text-align: center;
    font-family:'Raleway', sans-serif; 
    text-transform: uppercase;
    font-weight: 100;
}

.vettes_liste{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;

}
.vettes_bloc{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    border: #9996962d solid 1px;
    background-color: #FFF;
}
.vettes_bloc span{
    margin-left: 20px;
    font-size: 1.0em;
    text-transform: capitalize;
    font-family:'Raleway', sans-serif; 
}
.vettes_bloc i{
   margin-right: 5px; 
}


.vettes_bloc img{
height: 30vh;
}

.vettes_bloc_montant{
    font-size: 1em;
    color: #b31054;
    font-weight: bold;
}

.vettes_bloc .fas{
    color: #b31054;
}

.vettes_bloc h5{
    color: #4d4548;
    font-size: 1em;
    font-family:'Raleway', sans-serif;
    text-transform: capitalize;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ POUR QUOI NOUS CHOISIR +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.pourquoi{
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
        background-color: #FFF;
          
}

.pourquoi h1{
    font-size: 2em;
    justify-content: center;
    text-align: center;
    font-family:'Raleway', sans-serif; 
    text-transform: uppercase;
    font-weight: 100;
}

.pourquoi_row{   
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #FFF; 
    justify-content: space-between; 
}

.pourquoi_row .mon_image img{    
  height: 60vh;
}

.mon_textes{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #FFF;   
    width: 50%;
}
    .mon_textes_items{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        flex-wrap: wrap;
        background-color: #FFF; 
        justify-content: space-between;
    }
    .items_bloc{
        text-align: center;
        font-family:'Raleway', sans-serif; 
        font-weight: 200;
        font-size: 10pt;
        width: 40%;
        padding: 10px;
    }

    .items_bloc p{
        margin-top: 2px;
        text-align: justify;
        color: #756b6b;
    }
    .items_bloc h3{
        margin-bottom: 4px;
        text-transform: capitalize;
        
    }

/* ================================= SCORE +++++++++++++++++++++++++++++++++++++ */

main .score{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    /* height: 300px; */
    padding: 50px 80px 50px 80px;
    background: url("https://images8.alphacoders.com/107/1079983.jpg") no-repeat;
    background-size: cover;
    height: 50vh;

    vertical-align: center;
}

.scores_items{
    padding: 10px;  
    margin: auto auto;  
    display: flex;  
    flex-direction: column;
    gap: 14px;
}

.scores_items span{
    font-family: 'Raleway', sans-serif!important;
    text-transform: uppercase;
    color: #FFF;
    font-size: 2.5em;
    font-weight: 800;
}
.scores_items h5{
    font-family: 'Raleway', sans-serif!important;
    color: #FFFF;
    font-size: 0.9em;
    font-weight: 200;
    text-transform: uppercase;
} 