/*
"Source Sans Pro", Helvetica, sans-serif;
vertical-align: baseline
color : #47d3e5

https://fonts.google.com/icons?selected=Material+Icons%3Acheck_circle%3A
font-family: 'Raleway', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');







*,::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url("https://images6.alphacoders.com/508/thumbbig-508212.webp");
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    background-color: rgba(20, 23, 26, 0.466);
    color: aliceblue;

    /* border: 1px solid blue; */
}

.nav_items{
    display: flex;
    padding: 40px;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
    color: aliceblue;
    vertical-align: baseline
}

nav .left{
width: 70%;
}

.items_title .logo_and_text{
    display: flex;
    gap: 20px;
}

.items_title{
    display: flex;
    flex-direction: row;  
    gap: 60px;
}

.items_title .left{
    width: 40%;
}
.logo_and_text span{
font-size: 1.3em;
color: #F5C34B;
font-weight: bolder;
font-family: 'Nova Oval', cursive !important;
}

 .tems_title ul{
    list-style: none;
    text-decoration: none;
   
}

.items_title li{
display: inline-block;
margin-right: 40px;
text-transform: capitalize;
}

.items_title li .active{
    color: #F5C34B !important;
}

.items_title li a{
    text-decoration: none;
    color: aliceblue;
    }


/* =============== FIN ITEM TITLE ======= */
.nav_items span{
    text-transform: capitalize;   
}

.header_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.header_items .textes{
width: 40%;
padding: 20px;
}

.header_items .left{
    /* font-family: 'Raleway', sans-serif; */
    text-transform: uppercase;
    line-height:60px;
    /* font-family: 'Nova Oval', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    
    }

.header_items .left span{
    font-size: medium;
    color: #fff;
    }

    .header_items .left .prix{
    color: #F5C34B;
    font-weight: bolder;
    font-size: 2.0em;
}

.header_items .left a{
    text-decoration: none;
    padding: 20px;
    text-transform: capitalize !important;
    font-family: 'Raleway', sans-serif!important;
    background-color: #fff;
    color: black !important;
    font-weight: bold;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.header_items .right{
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: #ddd;
    padding: 20px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;

    margin-top: 20px;
}

