@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.contain{
    height: fit-content;
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

main h1{
    text-align: center;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    font-weight: 300;

}
.car{width: 24%;
    height: 200px;
    border: 1px solid green;
    cursor: pointer;
}

main{
    height: 100vh;
    padding: 40px;
}
.nomination{
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.nomination > h1{   
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;

}
.nombre{
    color: rgb(124, 121, 121);
    text-transform: lowercase;
    font-style: italic;
    font-size: 1.2rem;
}