@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

header{
    background-image: url("https://images.alphacoders.com/101/1014093.jpg");
}


.contain{
    height: fit-content;
    width: 100%;
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
}

main h1{
    text-align: center;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    font-weight: 900;

}
.car{width: 24%;
    height: 300px;
    padding: 10px;
    font-family: 'Raleway', sans-serif !important;
   
}
.car img{
    width: 50%;
}
.car h3{
   text-transform: capitalize;
   color: darkcyan;  
}
.car h4{
    text-align: left;
}


.car a{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: darkcyan; 
    padding: 5px; 
   
 }


main{
    padding: 40px;
}
.nomination{
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.nomination  h2{   
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900;
    

}
.nombre{
    color: rgb(124, 121, 121);
    text-transform: lowercase;
    font-style: italic;
    font-size: 1.2rem;
}

/* FOOTER */


@media (max-width: 576px) {

    .contain{
        height: fit-content;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    } 

    .car{width: 100%;
        height: 200px;
       
    }
}

@media (min-width: 768px) {
    .car{width: 40%;
        height: 200px;
       
    }     
}


 /* MON PC */
@media (min-width: 1200px) {
    .car{width: 24%;
        height: 200px;
        
       
    }
}

@media (min-width: 1400px) { 
    .car{width: 24%;
        height: 220px;
        
       
    }

    
}