
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1&display=swap');

/* GOOGLE ICONS */


/*   font-family: 'Ysabeau', sans-serif;  */

/* FIN GOOGLE FONT */
*,::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



header{
    height: 100vh;
    width: 100%;
    /* https://images6.alphacoders.com/508/thumbbig-508212.webp */
    /* https://images.unsplash.com/photo-1571775145899-ec92ede2b057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
    background-image: url("https://www.largus.fr/images/images/toyota-avensis-2015-restylee-geneve_01_1.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    background-color: rgba(20, 23, 26, 0.466);
    color: aliceblue;

    /* border: 1px solid blue; */
}

.nav_items{
    display: flex;
    padding: 40px;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
    color: aliceblue;
    vertical-align: baseline;
    flex-wrap: wrap;
}

nav .left{
width: 100%;
}

.items_title .logo_and_text{
    display: flex;
    gap: 20px;
}

.items_title{
    display: flex;
    flex-direction: row;  
    gap: 60px;
}

.items_title .left{
    width: 40%;
}
.logo_and_text span{
font-size: 1.3em;
color: #F5C34B;
font-weight: bolder;
font-family: 'Nova Oval', cursive !important;
}

 .tems_title ul{
    list-style: none;
    text-decoration: none;
   
}

.items_title li{
display: inline-block;
margin-right: 40px;
text-transform: capitalize;
}

.items_title li .active{
    color: #F5C34B !important;
}

.items_title li a{
    text-decoration: none;
    color: aliceblue;
    }


/* =============== FIN ITEM TITLE ======= */
.nav_items span{
    text-transform: capitalize;   
}

.header_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.header_items .textes{
width: 40%;
padding: 20px;
}

.header_items .left{
    /* font-family: 'Raleway', sans-serif; */
    text-transform: uppercase;
    line-height:60px;
    /* font-family: 'Nova Oval', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    
    }

.header_items .left span{
    font-size: medium;
    color: #fff;
    }

    .header_items .left .prix{
    color: #F5C34B;
    font-weight: bolder;
    font-size: 2.0em;
}

.header_items .left a{
    text-decoration: none;
    padding: 20px;
    text-transform: capitalize !important;
    font-family: 'Raleway', sans-serif!important;
    background-color: #fff;
    color: black !important;
    font-weight: bold;
    /* border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%; */
}

.header_items .right{
    background-color: #69687491;
    /* border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_one{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color:#FFF;
    padding: 20px;
    /* border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ; */

    margin-top: 20px;
    vertical-align: baseline;
}

.right_one .active_one{
color: #F5C34B; 
font-weight: bold;
border-bottom: #F5C34B solid 1px;
padding-bottom: 5px;

}

.right_one span:hover{
    color: #F5C34B; 
    font-weight: bold;
    border-bottom: #F5C34B solid 1px;
    padding-bottom: 5px;
    
    }





/* ============================ POPULAIRE LISTE +++++++++ */

.catalogue_populaire{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #10b38a02; */
    
}
.catalogue_populaire  h1{
    font-size: 2em;
    justify-content: center;
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #b31054;
}

.populaire_liste{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    height: fit-content;
    justify-content: center;
    margin: 20px auto;
    gap: 30px;


}
.populaire_bloc{
    max-width: 1300px;
    height: 320px;
    width: 300px;
    /* border: #b31054 solid 1px ; */
    padding: 5%;
    box-sizing: border-box; 
}

.populaire_bloc span{
    font-size: 1.0em;
    text-transform: capitalize;
    font-family:'Raleway', sans-serif; 
}
.populaire_bloc i{
   margin-right: 5px; 
   font-size: 0.8em;
   margin-bottom: 2%;
}
.populaire_bloc .div_i{
   margin-bottom: 2%;
}


.populaire_bloc img{
height: 16vh;
   
}

.populaire_bloc_montant{
    font-size: 1.3em;
    color: #b31054;
    font-weight: bold;
}

.populaire_bloc .fas{
    color: #b31054;
}

.populaire_bloc h5{
    color: #4d4548;
    font-size: 1em;
    font-family:'Raleway', sans-serif;
    text-transform: capitalize;
}
.populaire_bloc hr{
    width: 90%;
    height: 1px;
    background-color: #ddd7d7;
    border: 0px;
    margin-bottom: 4%;
}

.populaire_bloc .fasv{
    color: #acb1b0;
}
.populaire_bloc .fass{
    color: #f1f51c;
}

.type_voiture {
     text-transform: uppercase;
    line-height:60px;
    /* font-family: 'Nova Oval', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    color: #645f61;  
    font-size: 1.2rem;
    font-weight: 400;
}


.populaire_bloc:hover {
    border: #b3105418 0.1em solid;
    cursor: pointer;
    /* transition-duration: 2ms;
    transition-delay: 1ms; */
    
    /* padding: 10px; */
    }


    
  footer {
    display: flex;
    flex-direction: column;
   
    text-align: left;
    /* gap: 20px; */
    flex-wrap: wrap; 
    justify-content: space-between;

    background: #061e41;
    color: #FFF;
    font-family:'Lato', sans-serif;
   
  }
  footer h2{
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
  }
 
  footer h5{
    text-transform: capitalize;
    font-family: 'Ysabeau', sans-serif;
    font-size: 1.1em;

  }

  footer .fas{
    font-size: 0.4em;
    color: #f1f51c;
  }

  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: center;
    line-height: 1.5em;
    font-family: 'Ysabeau', sans-serif;
    font-size: 1.2em;
  }
