
header{
    background-size: cover;
    height: 100vh;
    background-image: url("https://images2.alphacoders.com/571/571113.jpg");

    display: flex;
    flex-direction: column;
}
nav{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100px;
    background-color: rgba(5, 2, 2, 0.767);

    font-family: 'Lato', sans-serif; 
    
}

.main{
  padding: 20px;
  height: 500px;
  background-color: #ddd;
  display: flex;

  flex-direction: column;
}
/* ================================= FOOTER ======================================== */
footer {
    display: flex;
    flex-direction: column;
   
    text-align: left;
    /* gap: 20px; */
    flex-wrap: wrap; 
    justify-content: space-between;

    background: #061e41;
    color: #FFF;
    font-family:'Lato', sans-serif;
   
  }
  footer h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #f1f51c;
  }
 
  footer h5{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;

  }

  footer .fas{
    font-size: 0.4em;
    color: #f1f51c;
  }

  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: center;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }

@media (max-width: 576px) {
    header{    
        height: 30vh;
        max-height: fit-content;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    nav{
        padding: 10px;
        height: fit-content; 
        display: flex;  
        flex-direction: column;
        gap: 10px;
    }

    ul li a{
        text-transform: none;
        color: #ddd;
        font-size: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
    }

 
 
 
 /* ====================== FOOTER ++++++++++++ */
  
    .sub{
      display: flex;
      flex-direction: column;
      text-align: left;
  
      gap: 40px;
      padding: 50px;
      flex-wrap: wrap; 
      justify-content: space-between;
    }
  
    .sub2{
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 40px;
      justify-content: space-between;
  
      text-align: left;
      line-height: 1.5em;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2em;
    }
  
 }

 @media (min-width: 768px) {
    header{      
        height: 50vh;
    }
    footer {
      display: flex;
      flex-direction: column;
     
      text-align: left;
      /* gap: 20px; */
      flex-wrap: wrap; 
      justify-content: space-between;
  
      background: #061e41;
      color: #FFF;
      font-family:'Lato', sans-serif;
      left: 0;
      bottom: 0;
      right: 0;
      
     
    }

    
    .sub{
      display: flex;
      flex-direction: column;
      text-align: left;
  
      gap: 40px;
      padding: 50px;
      flex-wrap: wrap; 
      justify-content: space-between;
    }
  
    .sub2{
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 40px;
      justify-content: space-between;
  
      text-align: left;
      line-height: 1.5em;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2em;
    }
  }
@media (min-width: 992px) and (max-width: 1200px){
 
  .sub{
    display: flex;
    flex-direction: column;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
}

/* mon ecran du lenovo */
@media (min-width: 1300px) {
  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
 }
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  
  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
 }