
header{
    background-size: cover;
    height: 100vh;
    background-image: url("https://images2.alphacoders.com/571/571113.jpg");

    display: flex;
    flex-direction: column;
}
nav{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100px;
    background-color: rgba(5, 2, 2, 0.767);

    font-family: 'Lato', sans-serif; 
    
}

.main{
  padding: 40px;
  height: 600px;
  background-color: #FFFF;
  display: flex;

  flex-direction: row;
  margin: auto;
}
.c_contact{
  width: 30%;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size:1rem ;
  padding: 20px;

}
  .c_contact h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #061e41;
    margin-bottom: 10px;
  }
  .c_contact h5{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    color: #5f6973;

  }

  .c_formulaire{
    width: 60%;
    height: fit-content;
    font-family: "fantasy";
    font-size:1rem ;
    border: #061e41 1px solid;
    padding: 20px;
  }

  .ligne1, .ligne2, .ligne3{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 20px;
  }
  .ligne_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: capitalize;
    border: #5f6973;
  }

  .ligne_items label{
   width: 20%;
   text-transform: capitalize;
   font-size: 1.2rem;
  }
  .ligne_items input, textarea{
    width: 60%;
    text-transform: capitalize;
    font-size: 1.2rem;
   }
 

/* ================================= FOOTER ======================================== */
footer {
    display: flex;
    flex-direction: column;
   
    text-align: left;
    /* gap: 20px; */
    flex-wrap: wrap; 
    justify-content: space-between;

    background: #061e41;
    color: #FFF;
    font-family:'Lato', sans-serif;
   
  }
  footer h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #f1f51c;
  }
 
  footer h5{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;

  }

  footer .fas{
    font-size: 0.4em;
    color: #f1f51c;
  }

  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: center;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }

@media (max-width: 576px) {
    header{    
        height: 30vh;
        max-height: fit-content;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    nav{
        padding: 10px;
        height: fit-content; 
        display: flex;  
        flex-direction: column;
        gap: 10px;
    }

    ul li a{
        text-transform: none;
        color: #ddd;
        font-size: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
    }

 /* ================= main ==================== */
 .main{
  padding: 50px;
  height: fit-content;   
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;

  gap: 20px;
}
.c_contact{
  width: 100%;
  height: fit-content;
  font-family: "fantasy";
  font-size:1rem ;

}
 
  .c_formulaire{
    width: 100%;
    height: fit-content;
    font-family: "fantasy";
    font-size:1rem ;

  }
  .c_formulaire{
    width: 100%;
    height: fit-content;
    font-family: "fantasy";
    font-size:1rem ;
    
    padding: 20px;
  }
  .ligne1, .ligne2, .ligne3, .ligne4{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 20px;
  }
  .ligne_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
   
   flex-wrap: wrap;
  }

  .ligne_items label{
    width: 100%;
    text-transform: capitalize;
    font-size: 1.2rem;
   }
   .ligne_items input, textarea{
     width: 100%;
     text-transform: capitalize;
     font-size: 1.2rem;
    }
 /* ====================== FOOTER ++++++++++++ */
  
    .sub{
      display: flex;
      flex-direction: column;
      text-align: left;
  
      gap: 40px;
      padding: 50px;
      flex-wrap: wrap; 
      justify-content: space-between;
    }
  
    .sub2{
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 40px;
      justify-content: space-between;
  
      text-align: left;
      line-height: 1.5em;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2em;
    }
  
 }

 @media (min-width: 768px) {
    header{      
        height: 50vh;
    }
    footer {
      display: flex;
      flex-direction: column;
     
      text-align: left;
      /* gap: 20px; */
      flex-wrap: wrap; 
      justify-content: space-between;
  
      background: #061e41;
      color: #FFF;
      font-family:'Lato', sans-serif;
      left: 0;
      bottom: 0;
      right: 0;
      
     
    }

    
    .sub{
      display: flex;
      flex-direction: column;
      text-align: left;
  
      gap: 40px;
      padding: 50px;
      flex-wrap: wrap; 
      justify-content: space-between;
    }
  
    .sub2{
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 40px;
      justify-content: space-between;
  
      text-align: left;
      line-height: 1.5em;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2em;
    }
  }
@media (min-width: 992px) and (max-width: 1200px){
 
  .sub{
    display: flex;
    flex-direction: column;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
}

/* mon ecran du lenovo */
@media (min-width: 1300px) {
  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
 
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  
  .sub{
    display: flex;
    flex-direction: row;
    text-align: left;

    gap: 40px;
    padding: 50px;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .sub2{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 40px;
    justify-content: space-between;

    text-align: left;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
  }
 }