/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) 

100% /3
*/
@media (max-width: 576px) { 
    header{    
        height: 30vh;
        max-height: fit-content;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    nav{
        padding: 10px;
        height: fit-content; 
        display: flex;  
        flex-direction: column;
        gap: 10px;
    }

    ul li a{
        text-transform: none;
        color: #ddd;
        font-size: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
    }

    .banner{
        padding: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        height: fit-content;
        max-height: fit-content;
        justify-content: center;
        gap: 50px;
        background-color: white;
    }

    .banner a {
        padding: 10px;
        height: 160px;
    }
 }


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    header{      
        height: 50vh;
    }

    .banner{
        padding: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        background-color: white;
    }

    .banner a{
        text-decoration: none;
        color: #1a3760 ;
        font-family: 'Raleway', sans-serif;
        height: 160px;
        text-align: center;
        padding: 10px;
    }
    

    .banner h2{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .banner h3{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }
    .banner h6{
        font-size: 1.0rem;
        font-style: italic;
        font-weight: 100;
        text-align: center;
    }
    
    .banner a:hover{
        color: #f5c34b;  
    }


 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
        
    header{
        
        height: 100vh;
        }
        nav{
            font-size: small;
        
            font-family: 'Lato', sans-serif;
        } 

        .banner{
            padding: 70px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* max-height: fit-content; */
            justify-content: space-between;
            gap: 50px;
            background-color: white;
        }

        .banner a{
            text-decoration: none;
            color: #1a3760 ;
            font-family: 'Raleway', sans-serif;
                    
            text-align: center;
            padding: 10px;
            height: 160px;
        }

        .banner h2{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 20px;
        }
        .banner h3{
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
        }
        .banner h6{
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 100;
            text-align: center;
        }
        
        .banner a:hover{
            color: #f5c34b;  
        }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }